[defaults]
transport = ssh
timeout = 30
forks = 10
host_key_checking = False
deprecation_warnings = False
remote_tmp = /tmp/.ansible/tmp

[ssh_connection]
# Usa control de conexiones persistentes
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o PreferredAuthentications=publickey -o PubkeyAuthentication=yes

# Usa pipelining (reduce overhead de sudo)
pipelining = True
