{# Interface Ubuntu Configuration Template #}

# Device - {{inventory_hostname}}

## Configuraciones de interfaces Ubuntu

### hostname: {{inventory_hostname}}

```
{# Interface Ubuntu Configuration Template #}

{% for interface in interfaces -%}
{% if interface.name == "ens3" -%}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto ens3
iface ens3 inet static
  address {{ interface.ip_address }}
  netmask {{ interface.subnet_mask }}
  gateway {{ interface.gateway }}
  dns-nameservers {{ interface.dns_nameservers }}
{% endif -%}
{% endfor -%}
```