{# Interface P-PE Configuration Template #}
!
{% for i in interfaces -%}
{% if i.mode == "routing" -%}
interface {{ i.name }}
  description {{ i.description }}
  ip address {{ i.ip_address }} {{ i.subnet_mask }}
  no shutdown
{% if i.isis_name %}
  ip router isis {{ i.isis_name }}
{% endif %}
{% if i.mpls_ip == true %}
  mpls ip
{% endif %}
{% if i.vrf_name %}
  ip vrf forwarding {{ i.vrf_name }}
{% endif %}
{% if i.ospf_process %}
  ip ospf process {{ i.ospf_process }} area {{ i.ospf_area }}
{% endif %}
!
{% endif -%}
{% endfor -%}