{# MPLS Configuration Template #}

# Device - {{inventory_hostname}}

## Configuraciones de MPLS

### hostname: {{inventory_hostname}}

```
{# MPLS Configuration Template #}
!
{% if mpls is defined and mpls is not none %}
mpls ldp {{ mpls.ldp_label }}
mpls ldp router-id {{ mpls.ldp_interface }}
!
{% endif %}
```