{# Interface Mgmt Configuration Template #}

# Device - {{inventory_hostname}}

## Configuraciones de interfaces Mgmt

### hostname: {{inventory_hostname}}

```
{# Interface SVI Configuration Template #}
!
{% for interface in interfaces -%}
{%- if interface.mode == "mgmt" -%}
  interface vlan {{ interface.vlan }}
{% if interface.vlan == 3 %}
  description ### SVI interface for VLAN03_Routing/Mgmt ###
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
  no shutdown
{% elif interface.vlan == 5 %}
  description ### SVI interface for VLAN05_Mgmt/OOB ###
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
  no shutdown
  exit
ip default-gateway 172.16.5.1
{% endif %}
!
{% endif -%}
{% endfor -%}
```