{# Interface P-PE Configuration Template #}

# Device - {{inventory_hostname}}

## Configuraciones de interfaces P-PE

### hostname: {{inventory_hostname}}

```
{# Interface P-PE Configuration Template #}
!
{% for interface in interfaces -%}
{% if interface.mode == "isis" -%}
interface {{ interface.name }}
  description {{ interface.description }}
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
  no shutdown
{% if interface.isis_name %}
  ip router isis {{ interface.isis_name }}
!
{% endif %}
{% if interface.mpls_ip == True %}
  mpls ip
!
{% endif %}
{% endif -%}
{% if interface.mode == "vrf" -%}
interface {{ interface.name }}
  description {{ interface.description }}
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
  ip vrf forwarding {{ interface.vrf_name }}
  no shutdown
!
{% endif -%}
{% endfor -%}
```