{#- Routers Configuration Template -#}
!
{% for router in routers -%}
{% if router.name == "eigrp" -%}
  router eigrp {{ router.as_number }}
  no auto-summary
  eigrp log-neighbor-changes
  eigrp router-id {{ router.router_id }}
{% for network in router.networks %}
  network {{ network }}
{% endfor %}
{%- else %}
{#- Add other routing protocols here as needed -#}
!
{% endif -%}
{%- endfor %}