{#- Routers Configuration Template -#}
!
{% for router in routers -%}
{% if router.name == "eigrp" -%}
  router eigrp {{ router.as_number }}
  no auto-summary
  eigrp log-neighbor-changes
  eigrp router-id {{ router.router_id }}
  passive-interface vlan 5
{% for network in router.networks %}
  network {{ network }}
{% endfor %}
{% for intf in router.no_passive_interfaces %}
  no passive-interface {{ intf }}
{% endfor %}
!
{%- else %}
{#- Add other routing protocols here as needed -#}
!
{% endif -%}
{%- endfor %}