{# IS-IS Configuration Template #}
!
{% if isis is defined and isis|length > 0 -%}
{% for i in isis %}
router isis {{ i.name }}
  net {{ i.net }}
  is-type {{ i.is_type }}
  mpls ldp sync
!
{% endfor %}
{% endif -%}