{# Services Configuration Template #}

# Device - {{inventory_hostname}}

## Configuraciones de Services

### hostname: {{inventory_hostname}}

```
{# Services Configuration Template #}
!
{% if services %}
  ip name-server {{ services.dns.server1 }}
  ip name-server {{ services.dns.server2 }}
  ntp server {{ services.ntp.server1 }}
  ntp server {{ services.ntp.server2 }}
  ntp source {{ services.ntp.source_int }}
  logging host {{ services.syslog.server1 }}
  logging host {{ services.syslog.server2 }}
  logging source-interface {{ services.syslog.source_int }}
  snmp-server community {{ services.snmp.snmp_community }} RO
  snmp-server host {{ services.snmp.server1 }} version 2c {{ services.snmp.snmp_community }}
  snmp-server source-interface traps {{ services.snmp.source_int }}
!
{%- endif %}
```