{# EIGRP Configuration Template #}
!
{% if eigrp is defined and eigrp|length > 0 -%}
{% for e in eigrp -%}
router eigrp {{ e.name }}
  no auto-summary
{% if e.eigrp_lines is defined %}
{{ e.eigrp_lines }}
{% endif %}
{% if e.log_neighbor_chages is defined %}
  eigrp log-neighbor-changes
{% endif %}
{% if e.router_id is defined %}
  eigrp router-id {{ e.router_id }}
{% endif %}
{% if e.passive_interface is defined %}
  passive-interface {{ e.passive_interface }}
{% endif %}
{% if e.networks is defined %}
{% for network in e.networks %}
  network {{ network }}
{% endfor %}
{% endif %}
{% if e.no_passive_interfaces is defined %}
{% for npi in e.no_passive_interfaces %}
  no passive-interface {{ npi }}
{% endfor %}
{% endif %}
{% endfor %}
!
{%- endif -%}